body {
  background-color: #222 !important;
  color: white !important;
}

h1 {
  font-family: 'Bilbo Swash Caps', cursive !important;
  font-size: 2.0em !important;
  text-align: right;
}

#players {
  list-style: none;
  padding: 0;
}

#players li {
  padding: 5px;
  float: left;
}

#players li .command {
  padding: 5px;
  font-weight: bold;
  font-size: 1.25em;
}

#map {
  position: relative;
}

#map img.tile {
  position: absolute;
}

#message {
  margin: 5px;
}
