body {
  background-color: black !important;
  color: white !important;
}

#players {
  list-style: none;
  padding: 0;
}

#players li {
  padding: 5px;
}

#players li .command {
  padding: 5px;
  color: gray;
}

#map {
  position: relative;
}

#map img.tile {
  position: absolute;
}
